.projects-wrapper {
  position: relative;
  display: flex;
  height: 35vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    rotate: 0deg;
    position: absolute;
    width: 20vw;
    min-width: 200px;
    top: 0;
    margin: 0;
    box-shadow: 0 0 20px black;
    opacity: 1;
  }

  svg {
    color: white;
    font-size: 4vh;
    position: relative;
    margin: 1rem;
  }

  a {
    position: relative;
    &.btn{
      width: 6rem;
      padding: 0.25rem;
      text-align: center;
      background-color: #fff;
      border: none;
      border-radius: 0.25rem;
      text-decoration: none;
      color: black;
      cursor: pointer;
      user-select: none;
    }
    &.image-container {
      width: 20vw;
      min-width: 200px;
      height: 17vw;
      min-height: 180px;
      user-select: none;
    }
  }
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}