@import '../../index.scss';

  .projects-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 72vw;
    max-height: 542px;
    min-height: 250px;
    min-width: 340px;
    
    .flex-row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      width: 90%;
      max-width: 800px;
      height: 100%;
    }
    img {
      rotate: 0deg;
      position: absolute;
      width: 100%;
      min-width: 200px;
      margin: 0;
      box-shadow: 0 0 10px var(--primary-color);
      opacity: 1;
    }
    
    svg {
      color: #fff;
      border-radius: 50%;
      background-color: var(--background-color);
      box-shadow: 0 0 10px var(--primary-color);
      font-size: 4vh;
      position: relative;
      margin: 1rem;
      &:hover {
        box-shadow: 0 0 15px var(--primary-color);
      }
    }
    
    a {
      position: relative;
      &.btn{
        width: 6rem;
        padding: 0.25rem;
        text-align: center;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 0.25rem;
        text-decoration: none;
        color: var(--background-color);
        cursor: pointer;
        user-select: none;
        box-shadow: 0 0 10px var(--primary-color);
        overflow: visible;
        margin-top: 1rem;
        
        &:hover {
          box-shadow: 0 0 15px var(--primary-color);
        }
      }
      &.image-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        min-width: 200px;
        width: 100%;
        height: fit-content;
        user-select: none;
      }
    }
  }