@import '../../index.scss';

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;

  .logo {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $primary-color;

    &::before {
      content: '';
      position: absolute;
      inset: -10px 140px;
      background: linear-gradient(315deg, white, black);
    }
  }
}

// play with making a cool ass logo (: 