@import '../../index.scss';

.about-container {
  .flex {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    width: 50%;
    margin: 1rem;
    line-height: 1.7;
    font-size: 2vh;
    font-weight: 300;
    text-align: justify;
    max-width: 600px;
  }
  footer {
    margin-top: 20vh;
  }
  .downloadResume {
    text-decoration: none;
    color: var(--button-color);
    background-color: #2da2ec;
    padding: 1rem;
    border-radius: .25rem;
  }

  @media (max-width: 500px) {
    p {
      min-width: 80%;
    }
  }
}
