.about-container {
  .flex {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    width: 50%;
    margin: 1rem;
    line-height: 1.7;
    font-size: 2vh;
    font-weight: 300;
    text-align: justify;
    max-width: 600px;
  }

  @media (max-width: 500px) {
    p {
      min-width: 80%;
    }
  }
}
