@import '../../index.scss';

.modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;

  .modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(46, 43, 43, 0.855);
    box-shadow: 0 0 10px ;
    border-radius: 0.25rem;
    height: 20%;
    width: 30%;
    top: 20%;

    button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 2px solid red;
      border-radius: 50%;
      padding: 0.6rem;
      height: 1rem;
      width: 1rem;
      color: red;
      top: 1rem;
      left: 1rem;
    }

    .loader {
      color: $secondary-color;
      font-size: 40px;
    }
    .check {
      font-size: 40px;
      color: rgb(64, 232, 64);
    }
    h1 {
      color: $secondary-color;
      font-size: 40px;
      margin: 0;
    }

  }

}