@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.home-container {
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
  font-weight: 300;
  color: #1d1e21;
  z-index: 10;
  padding-right: 6vw;
}
h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3vh;
  color: white;
  z-index: 1000;
}
img {
  position: relative;
  top: 5vh;
  max-width: 25rem;
  width: 30vw;
  height:fit-content;
  min-width: 15rem;
  border-radius: 1rem;
  rotate: -10deg;
  opacity: 0;
  margin-right: 2vw;
}
.flex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 3;
  margin-top: 100px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  div{
    height: fit-content;
  }
}

footer {
  margin-top: 20vh;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  z-index: 100;
  width: 100vw;
  margin: 10vh 0;
}
}
