@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.home-container {
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
  font-weight: 300;
  color: #1d1e21;
  z-index: 1000;
  padding-right: 2vw;
}
h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3vh;
  color: white;
  z-index: 1000;
}
img {
  max-width: 30vw;
  min-width: 10rem;
  border-radius: 1rem;
  rotate: -10deg;
  opacity: 0;
  flex-shrink: 3;
  margin-right: 2vw;
  margin-top: 2rem;
}
.flex {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.svg-container {
  position: relative;
  left: 48.5%;
  z-index: 100;
  width: fit-content;
  margin-top: 3vh;
  margin-bottom: 1rem;
  height: 20vh;
}
}
