@import '../../index.scss';
$button-color: #2da2ec;

.contact-container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 31.7vh;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0.25rem;
    width: 95%;
    input {
      height: 2vh;
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 0.25rem;
      border: none;
      font-size: 1.5vh;
    }
    .space-between {
      display: flex;
      justify-content: space-between;
      .half {
        width: 49%;
      }
    }
    
    textarea {
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 0.25rem;
      font-size: 1.5vh;
      border: none;
      resize: none;
    }
    button {
      padding: 1rem;
      margin: 0.5rem;
      background-color: $button-color;
      color: var(--secondary-color);
      border-radius: 0.5rem;
      border: none;
      font-size: 1vh;
    }
  }
  
  h1 {
    margin-top: 3rem;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    height: 88.9vh;
  }

  footer {
    height: 11.1vh;
  }
}