footer {
  padding-bottom: 3rem;
  background-color: #1d1e21;
  width: 100%;
  border-radius: -0.5rem;

  .links {
    display: flex;
    justify-content: center;
    
    svg {
      padding: 3rem 5rem 0;
      font-size: 30px;
    }
  }

  a {
    color: #fff;
  }
}