@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
#root{
  $primary-color: #1d1e21;
  $secondary-color: #fff;
  $background-color: #afacac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}