@import '../../index.scss';

.nav-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50px;
  p{
    text-align: center;
    padding: 1rem;
    color: var(--secondary-color);
  }

  a {
    text-decoration: none;
  }

  .default {
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 1.4rem;
    border-radius: 500px;
    border: none;
    background-color: var(--secondary-color);

    &[data-dark-theme="true"] {
      justify-content: flex-end;
    }
    span {
      position: absolute;
      height: 1.1rem;
      width: 1.1rem;
      background-color: var(--primary-color);
      border-radius: 50%;
      margin: 0.2rem;
    }
  }
}

