@import '../../index.scss';

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

$circle_count: random_range(20, 50);

.circles {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  left: var(--circle-left);
  top: var(--circle-top);
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--circle-color);
  z-index: 1;
  box-shadow: 0 0 3px var(--secondary-color);

  @for $i from 0 through $circle_count {
    &:nth-child(#{$i}) {
      --circle-left: #{random_range(0vw, 100vw)};
      --circle-top: #{random_range(0vh, 100vh)};
      --circle-size: #{random_range(2px, 4px)};
      --circle-color: #{var(--secondary-color)};
      animation-name: #{animate#{random(99)}};
      animation-duration: random(6000) + 6000ms;
      animation-iteration-count: infinite;
      animation-delay: random(16000) + ms;
    }
    @keyframes animate#{$i} {
      50% {
        opacity: 0.8;
      }
     #{$i + "%"} {
        transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(random(75) / 100 + .25);
        opacity: 0
      }
    }
  }
}
